.header {
  background: hsl(180, 29%, 50%);
  height: 120px;
  background-image: url("../images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (max-width: 952px) {
  .header {
    background-image: url("../images/bg-header-mobile.svg") !important;
  }
}
